.nodeShell {
  position: relative;
  width: 100%;
}

.node {
  border-radius: 4px;
  padding: 6px 6px 6px 6px;
  cursor: text;
  width: 100%;
  min-height: 32px;
}

.list {
  position: relative;
  padding-left: 20px;
}

.list::after {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 6px;
  width: 6px;
  height: 6px;
  background-color: #222;
  border-radius: 50%;
  transform: translateY(50%);
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
}
